@import url(https://fonts.googleapis.com/css?family=Righteous);

.name, .name:before, .name:after {
  box-sizing: border-box;
  position: relative;
  top:-400px;
  }
 .name{
   margin-left:50px;
    }
  .name:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 100%;
    }

.name {
  display: inline-block;
  color: rgba(249, 249, 252, 0.605);
  font-family: 'Righteous', serif;
  font-size: 3em; 
  text-shadow: .03em .03em 0 rgba(29, 162, 228, 0.79);
  height: 100%;
  }
  .name:after {
    content: attr(data-shadow);
    position:absolute;
    top: .06em; left: .06em;
    height: 100%;
    width: 100%;
    z-index: 0;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        rgb(111, 77, 198) 45%,
        rgb(23, 6, 63) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shad-anim 15s linear infinite;
    }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }

  @media screen and (max-width:767px) {
    .name{
       position: relative;
       top:-750px;
    }
}